In [1]:
import numpy as np 
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline
import warnings
from collections import Counter

# import the dataset

In [3]:
file_path = 'E:/6105 data science/project/data/SBAnational.csv'  #get the file path of dataset
SBAloan = pd.read_csv(file_path,low_memory=False) #Read the entire file in one go and try to infer the data type of each column

# 1.Data cleaning

In [4]:
#read the first samples of the dataset
SBAloan.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [5]:
#read the last 5 samples of the dataset
SBAloan.tail()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,27-Feb-97,1997,...,0,N,NaN,30-Sep-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,...,Y,N,NaN,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,27-Feb-97,1997,...,N,N,NaN,30-Sep-97,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,...,N,Y,8-Mar-00,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,...,N,N,NaN,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [6]:
#Deleting duplicates if any
SBAloan = SBAloan.drop_duplicates(keep = 'first')

In [7]:
#get the shape of dataset
SBAloan.shape

(899164, 27)

In [8]:
#show the List of columns:
print(SBAloan.dtypes.index)

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [9]:
#get the detail info of dataset
SBAloan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 899164 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      899164 non-null  int64
 1   Name               899150 non-null  object
 2   City               899134 non-null  object
 3   State              899150 non-null  object
 4   Zip                899164 non-null  int64
 5   Bank               897605 non-null  object
 6   BankState          897598 non-null  object
 7   NAICS              899164 non-null  int64
 8   ApprovalDate       899164 non-null  object
 9   ApprovalFY         899164 non-null  object
 10  Term               899164 non-null  int64
 11  NoEmp              899164 non-null  int64
 12  NewExist           899028 non-null  float64
 13  CreateJob          899164 non-null  int64
 14  RetainedJob        899164 non-null  int64
 15  FranchiseCode      899164 non-null  int64
 16  UrbanRural         899164 non-null  int64
 17  RevLineCr          894636 non-null  object
 18  LowDoc             896582 non-null  object
 19  ChgOffDate         162699 non-null  object
 20  DisbursementDate   896796 non-null  object
 21  DisbursementGross  899164 non-null  object
 22  BalanceGross       899164 non-null  object
 23  MIS_Status         897167 non-null  object
 24  ChgOffPrinGr       899164 non-null  object
 25  GrAppv             899164 non-null  object
 26  SBA_Appv           899164 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 192.1+ MB

In [10]:
# 'DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv' are coming in as strings with the '$' sign, first remove "$" and ","
SBAloan[['DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']] = \
SBAloan[['DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']].applymap(lambda x : x.strip().replace('$','').replace(',',''))

In [11]:
#the features 'LoanNr_ChkDgt', 'Zip', 'NAICS','NewExist', 'FranchiseCode', 'UrbanRural' should be Text, they are not numeric columns
#'DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv' should be float type
# 'ApprovalDate', 'ChgOffDate','DisbursementDate' should be Time type
# change the type of these columns as appropriate
SBAloan = SBAloan.astype({'LoanNr_ChkDgt' : 'str', 'Zip' : 'str', 'NAICS': 'str', 'NewExist' : 'str','FranchiseCode' : 'str', 'UrbanRural' : 'str'})
SBAloan = SBAloan.astype({'DisbursementGross' : 'float', 'BalanceGross' : 'float', 'ChgOffPrinGr' : 'float', 'GrAppv': 'float', 'SBA_Appv': 'float'})
SBAloan[['ApprovalDate', 'ChgOffDate','DisbursementDate']] = SBAloan[['ApprovalDate', 'ChgOffDate','DisbursementDate']].apply(pd.to_datetime)

NAICS (North American Industry Classification System):This is a 2- through 6-digit hierarchical classification system used by Federal statistical agencies in classifying business establishments for the collection, analysis, and presentation of statistical data describing the U.S. economy. The first two digits of the NAICS classification represent the economic sector.
This is a table shows the 2-digit sectors and a corresponding description for each sector:

Sector:Description
11 Agriculture, forestry, fishing and hunting
21 Mining, quarrying, and oil and gas extraction
22 Utilities
23 Construction
31â€“33 Manufacturing
42 Wholesale trade
44â€“45 Retail trade
48â€“49 Transportation and warehousing
51 Information
52 Finance and insurance
53 Real estate and rental and leasing
54 Professional, scientific, and technical services
55 Management of companies and enterprises
56 Administrative and support and waste management and
remediation services
61 Educational services
62 Health care and social assistance
71 Arts, entertainment, and recreation
72 Accommodation and food services
81 Other services (except public administration)
92 Public administration

sorce:https://www.census.gov/programs-surveys/economic-census/year/2022/guidance/understanding-naics.html

In [12]:
# Based on the understanding of the feature 'NAICS', we create a new column 'Industry' to show the general industry for this analysis
SBAloan['Industry'] = SBAloan['NAICS'].apply(lambda x : x[:2]) # create 'Industry' by the first 2 digits of NAICS
SBAloan['Industry'] = SBAloan['Industry'].map({
    '11': 'Ag/For/Fish/Hunt',
    '21': 'Min/Quar/Oil_Gas_ext',
    '22': 'Utilities',
    '23': 'Construction',
    '31': 'Manufacturing',
    '32': 'Manufacturing',
    '33': 'Manufacturing',
    '42': 'Wholesale_trade',
    '44': 'Retail_trade',
    '45': 'Retail_trade',
    '48': 'Trans/Ware',
    '49': 'Trans/Ware',
    '51': 'Information',
    '52': 'Finance/Insurance',
    '53': 'RE/Rental/Lease',
    '54': 'Prof/Science/Tech',
    '55': 'Mgmt_comp',
    '56': 'Admin_sup/Waste_Mgmt_Rem',
    '61': 'Educational',
    '62': 'Healthcare/Social_assist',
    '71': 'Arts/Entertain/Rec',
    '72': 'Accom/Food_serv',
    '81': 'Other_no_pub',
    '92': 'Public_Admin'
})                                                                   # use the reference to map the industry to the code

In [13]:
# if the first 2 digit of NAICS is 00, the Industry will not in this table, we asign this samples as 'others', so fill 'others' in the NAs
SBAloan['Industry'].fillna('others', inplace = True)

In [14]:
#Generate descriptive statistics for numeric columns in a Dataset
SBAloan.describe()

,Term,NoEmp,CreateJob,RetainedJob,DisbursementGross,BalanceGross,ChgOffPrinGr,GrAppv,SBA_Appv
count,899164.000000,899164.000000,899164.000000,899164.000000,8.991640e+05,899164.000000,8.991640e+05,8.991640e+05,8.991640e+05
mean,110.773078,11.411353,8.430376,10.797257,2.011540e+05,2.989349,1.350330e+04,1.926870e+05,1.494888e+05
std,78.857305,74.108196,236.688165,237.120600,2.876408e+05,1442.161912,6.515229e+04,2.832634e+05,2.284146e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,2.000000e+02,1.000000e+02
25%,60.000000,2.000000,0.000000,0.000000,4.200000e+04,0.000000,0.000000e+00,3.500000e+04,2.125000e+04
50%,84.000000,4.000000,0.000000,1.000000,1.000000e+05,0.000000,0.000000e+00,9.000000e+04,6.125000e+04
75%,120.000000,10.000000,1.000000,4.000000,2.380000e+05,0.000000,0.000000e+00,2.250000e+05,1.750000e+05
max,569.000000,9999.000000,8800.000000,9500.000000,1.144632e+07,996262.000000,3.512596e+06,5.472000e+06,5.472000e+06

In [15]:
#get the detail info of the dataset again
SBAloan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 899164 entries, 0 to 899163
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      899164 non-null  object
 1   Name               899150 non-null  object
 2   City               899134 non-null  object
 3   State              899150 non-null  object
 4   Zip                899164 non-null  object
 5   Bank               897605 non-null  object
 6   BankState          897598 non-null  object
 7   NAICS              899164 non-null  object
 8   ApprovalDate       899164 non-null  datetime64[ns]
 9   ApprovalFY         899164 non-null  object
 10  Term               899164 non-null  int64
 11  NoEmp              899164 non-null  int64
 12  NewExist           899164 non-null  object
 13  CreateJob          899164 non-null  int64
 14  RetainedJob        899164 non-null  int64
 15  FranchiseCode      899164 non-null  object
 16  UrbanRural         899164 non-null  object
 17  RevLineCr          894636 non-null  object
 18  LowDoc             896582 non-null  object
 19  ChgOffDate         162699 non-null  datetime64[ns]
 20  DisbursementDate   896796 non-null  datetime64[ns]
 21  DisbursementGross  899164 non-null  float64
 22  BalanceGross       899164 non-null  float64
 23  MIS_Status         897167 non-null  object
 24  ChgOffPrinGr       899164 non-null  float64
 25  GrAppv             899164 non-null  float64
 26  SBA_Appv           899164 non-null  float64
 27  Industry           899164 non-null  object
dtypes: datetime64[ns](3), float64(5), int64(4), object(16)
memory usage: 198.9+ MB

In [16]:
#Display number of missing values per column
SBAloan.isnull().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
Industry                  0
dtype: int64

## (1)Dealing with NAs

In [17]:
# Dealing with NAs in Name column
# Name is unique and we assume it will not be imputed. We can use LoanNr_ChkDgt to identify each samples, so we drop [Name] column
SBAloan = SBAloan.drop(axis = 1, columns = ['Name'])

In [18]:
# Dealing with NAs in City and State column
# Zip contains information about State and City and there is no NAs in Zip. So we use Zip to impute City and State.

import uszipcode
from uszipcode import SearchEngine
search = SearchEngine()

condition = (SBAloan.City.isnull()|SBAloan.State.isnull()) # Created a condition cond, which means that it is True when any of the city (City) or state (State) information is missing

missing_rows = SBAloan[condition].index  # missing_rows contains the index of all matching rows, that is, the index of all rows with missing city or state information

#Iterate through the indexes of these missing rows through a loop:
count = 0
for i in missing_rows:
    zipcode = search.by_zipcode(SBAloan.iloc[i,3])  # Zip
    if zipcode is not None:
        SBAloan.iloc[i,1] = zipcode.major_city          # City
        SBAloan.iloc[i,2] = zipcode.state               # State
    else:
        count += 1
        
print(count)

D:\Anaconda\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

3

In [19]:
# check NAs
SBAloan.isnull().sum()

LoanNr_ChkDgt             0
City                      2
State                     1
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
Industry                  0
dtype: int64

In [20]:
# use count we can know that there are 3 zipcode not in the search.by_zipcode function, here is 1 NA in City and 2 NAs in State, we can ignore them
SBAloan.dropna(subset=['City'],inplace=True)
SBAloan.dropna(subset=['State'],inplace=True)
SBAloan.isnull().sum()

LoanNr_ChkDgt             0
City                      0
State                     0
Zip                       0
Bank                   1558
BankState              1565
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736463
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
Industry                  0
dtype: int64

In [21]:
# Dealing with NAs in Bank, BankState column
equal = 0
non_equal = 0
for i in SBAloan.index:
    if SBAloan.State[i] == SBAloan.BankState[i]:
        equal = equal + 1
    else:
        non_equal = non_equal +1
print(equal, non_equal)

# We found that nearly half of the BankState are similar to State, and BankState is not considered to be the main influencing factor. We focus on the location of the borrower to study the impact of location. Also, the Bank name is not the main factor, so the missing values of these two features are deleted
SBAloan = SBAloan.drop(axis = 1, columns = ['Bank'])
SBAloan = SBAloan.drop(axis = 1, columns = ['BankState'])

#SBAloan.dropna(subset=['Bank'],inplace=True)
#SBAloan.dropna(subset=['BankState'],inplace=True)

473949 425212

In [22]:
SBAloan.isnull().sum()

LoanNr_ChkDgt             0
City                      0
State                     0
Zip                       0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736463
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
Industry                  0
dtype: int64

In [24]:
# Dealing with NAs in 'MIS_Status' and 'ChgOffDate'
Counter(SBAloan['MIS_Status']).keys()

dict_keys(['P I F', 'CHGOFF', nan])

In [25]:
Counter(SBAloan['MIS_Status']).values()

dict_values([739607, 157557, 1997])

In [26]:
# the number of paid cases is 738167 , very close to the number of NAs in ChgOffDate which is 735028. We assume that when a case is paid, that can not be recoginzed as charged off, so the value of ChgOffDate is Null.
# Based on that, we delete this column
SBAloan = SBAloan.drop(axis = 1, columns = ['ChgOffDate'])

# drop rows where the value of MIS_Status is NA. Because it's the main factor we want to analysis
SBAloan.dropna(subset=['MIS_Status'],inplace=True)
SBAloan.isnull().sum()

LoanNr_ChkDgt           0
City                    0
State                   0
Zip                     0
NAICS                   0
ApprovalDate            0
ApprovalFY              0
Term                    0
NoEmp                   0
NewExist                0
CreateJob               0
RetainedJob             0
FranchiseCode           0
UrbanRural              0
RevLineCr            4520
LowDoc               2578
DisbursementDate     2175
DisbursementGross       0
BalanceGross            0
MIS_Status              0
ChgOffPrinGr            0
GrAppv                  0
SBA_Appv                0
Industry                0
dtype: int64

In [27]:
# Dealing with NAs in 'LowDoc' and 'RevLineCr'
SBAloan.dropna(subset=['LowDoc'],inplace=True)
SBAloan.dropna(subset=['RevLineCr'],inplace=True)
SBAloan.isnull().sum()

LoanNr_ChkDgt           0
City                    0
State                   0
Zip                     0
NAICS                   0
ApprovalDate            0
ApprovalFY              0
Term                    0
NoEmp                   0
NewExist                0
CreateJob               0
RetainedJob             0
FranchiseCode           0
UrbanRural              0
RevLineCr               0
LowDoc                  0
DisbursementDate     2141
DisbursementGross       0
BalanceGross            0
MIS_Status              0
ChgOffPrinGr            0
GrAppv                  0
SBA_Appv                0
Industry                0
dtype: int64

In [ ]:
# Dealing with NAs in 'DisbursementDate'